.flag1{
    background-color: black;
    height: 220px;
    width: 370px;
}
.red{
    background-color: #CC1224;
    height: 25%;
    width: 100%;
}
.blue{
    width: 100%;
    height: 55%;
    background-color: #042A6C;  
}

.curcle{
    margin-left: 45%;
    padding-top: 40%;
    background-color: white;
    width: 10%;
    border: white solid 4px;
    border-radius: 54px;
}