.flag1{
    background-color: black;
    height: 220px;
    width: 370px;
}
.red{
    background-color: #CC1224;
    height: 55px;
    width: 370px;
}
.blue{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 370px;
    height: 121px;
    background-color: #042A6C;  
}

.curcle{
    display: flex;
    height: 90%;
    width: 30%;
    background-color: white;
    border-radius: 54px;
}